@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Car Rental Control, go to the customer list.</h1>
    <p> <a href="https://github.com/CmdBianchi/CarRentalWebProjectV0.1">GitHuB project </a></p>
</div>
